unpackaged/main/default/flows/Application_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Applicant_1</name>
        <label>Assign Applicant 1</label>
        <locationX>1472</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>$Record.Applicant1FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Applicant1LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Payment_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Based_on_Decision_Code</name>
        <label>Assign Status Based on Decision Code</label>
        <locationX>992</locationX>
        <locationY>1328</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationStatusBasedOnDC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CancellationReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancellationReasononDC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_was_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Auto-Populate Lending Product</description>
        <name>MapLendingproductonApplication</name>
        <label>Map Lending Product on Application</label>
        <locationX>217</locationX>
        <locationY>906</locationY>
        <assignmentItems>
            <assignToReference>$Record.LendingProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnedLendingProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_the_record_is_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Application_Ownership</name>
        <label>Set Application Ownership</label>
        <locationX>2691</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Application_Queue</name>
        <label>Set Application Queue</label>
        <locationX>2093</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_COO_Queue</name>
        <label>Set COO Queue</label>
        <locationX>2082</locationX>
        <locationY>1450</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chief_Operations_Officer_Head_of_Opera</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CRO_CEO_Queue</name>
        <label>Set CRO CEO Queue</label>
        <locationX>2093</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chief_Risk_Officer_Chief_Executive_Off</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Loans_Officer_Queue</name>
        <label>Set Loans Officer Queue</label>
        <locationX>1998</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loans_Officer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Snr_Credit_UW_Queue</name>
        <label>Set Snr Credit UW Queue</label>
        <locationX>1992</locationX>
        <locationY>1237</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Senior_Credit_Underwriter_Team_Leader</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_to_Credit_Underwriter</name>
        <label>Set to Credit Underwriter</label>
        <locationX>1996</locationX>
        <locationY>1044</locationY>
        <assignmentItems>
            <assignToReference>QueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit_Underwriter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Settlement_and_Payment_date</name>
        <label>Update Settlement and Payment date</label>
        <locationX>1562</locationX>
        <locationY>1233</locationY>
        <assignmentItems>
            <assignToReference>$Record.PaymentStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatePaymentStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_API_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_status_and_Decision</name>
        <label>Update status and Decision</label>
        <locationX>869</locationX>
        <locationY>1435</locationY>
        <assignmentItems>
            <assignToReference>$Record.DecisionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateDecisionCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status_Based_on_Decision_Code</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_was_Set</name>
        <label>Account was Set</label>
        <locationX>1098</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Check_Payment_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account_has_first_name_and_last_name</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applicant1FirstName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applicant1LastName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__r.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Applicant_1</targetReference>
            </connector>
            <label>If Account has first name and last name</label>
        </rules>
    </decisions>
    <decisions>
        <name>ApplicationCreated</name>
        <label>Application Created</label>
        <locationX>50</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>Check_if_the_record_is_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LendingproductisNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LendingProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReturnedLendingProduct.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MapLendingproductonApplication</targetReference>
            </connector>
            <label>Lending product is NULL?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_API_User</name>
        <label>Check API User</label>
        <locationX>1600</locationX>
        <locationY>986</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>API_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAPIUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Application_Submitted</targetReference>
            </connector>
            <label>API User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Decision_code_Change</name>
        <label>Check Decision code Change</label>
        <locationX>741</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Account_was_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DE_has_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPriorValue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPriorValue.Decision__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Decision__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_and_Decision</targetReference>
            </connector>
            <label>DE has changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Decision_Codes</name>
        <label>Check Decision Codes</label>
        <locationX>1810</locationX>
        <locationY>1172</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Match_Decision_Codes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Tier_C</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_payment_start_date_was_changed_manually</name>
        <label>Check if payment start date was changed manually</label>
        <locationX>1275</locationX>
        <locationY>1364</locationY>
        <defaultConnector>
            <targetReference>Update_Settlement_and_Payment_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_start_date_manually_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPriorValue.PaymentStartDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PaymentStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaymentStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_API_User</targetReference>
            </connector>
            <label>Payment start date manually changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_record_is_new</name>
        <label>Check if the record is new</label>
        <locationX>772</locationX>
        <locationY>739</locationY>
        <defaultConnector>
            <targetReference>GetPriorValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_was_Set</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Date</name>
        <label>Check Payment Date</label>
        <locationX>1148</locationX>
        <locationY>1107</locationY>
        <defaultConnector>
            <targetReference>Check_API_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Date_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SettlementDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPriorValue.SettlementDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SettlementDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_payment_start_date_was_changed_manually</targetReference>
            </connector>
            <label>Payment Date Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Queue</name>
        <label>Found Queue?</label>
        <locationX>2476</locationX>
        <locationY>951</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QueueFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_Ownership</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Application_Submitted</name>
        <label>is Application Submitted?</label>
        <locationX>1809</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Application_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isSubmitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Decline_Hard</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Application_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isSubmitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Application_Queue</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Decline_Hard</name>
        <label>is Decline Hard?</label>
        <locationX>1808</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>is_Tier_A</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Decline_Hard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CRO_CEO_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Tier_A</name>
        <label>is Tier A</label>
        <locationX>1810</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>is_Tier_B</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>tierA</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVMLVR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>750000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Loans_Officer_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Tier_B</name>
        <label>is Tier B</label>
        <locationX>1810</locationX>
        <locationY>985</locationY>
        <defaultConnector>
            <targetReference>Check_Decision_Codes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Tier_B</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AVMLVR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Credit_Underwriter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Tier_C</name>
        <label>is Tier C</label>
        <locationX>1809</locationX>
        <locationY>1388</locationY>
        <defaultConnector>
            <targetReference>Is_Tier_D</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TierC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVMLVR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Snr_Credit_UW_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tier_D</name>
        <label>Is Tier D</label>
        <locationX>1808</locationX>
        <locationY>1603</locationY>
        <defaultConnector>
            <targetReference>is_Tier_E</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TierD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVMLVR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_COO_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Tier_E</name>
        <label>is Tier E</label>
        <locationX>2161</locationX>
        <locationY>1615</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TierE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AVMLVR__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CRO_CEO_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Default Flow for the Application object</description>
    <formulas>
        <name>ApplicationStatusBasedOnDC</name>
        <dataType>String</dataType>
        <expression>Case({!$Record.DecisionCode__c},
&quot;DH&quot;, &quot;Cancelled&quot;,
&quot;DS&quot;, &quot;Decision pending&quot;,
&quot;RC&quot;, &quot;Decision pending&quot;,
&quot;RB&quot;, &quot;Decision pending&quot;,
&quot;RV&quot;, &quot;Decision pending&quot;,
&quot;RA&quot;, &quot;Decision pending&quot;,
&quot;AC&quot;, &quot;Conditional&quot;,
&quot;AA&quot;, &quot;Unconditional&quot;,
&quot;AM&quot;, &quot;Unconditional&quot;,
&quot;FA&quot;, &quot;Decision pending&quot;,
&quot;VR&quot;, &quot;Decision pending&quot;,
TEXT({!$Record.Status__c})
)</expression>
    </formulas>
    <formulas>
        <name>CancellationReasononDC</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.DecisionCode__c}) = &apos;DH&apos;, &apos;Declined&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>isAPIUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.isAPIUser__c}</expression>
    </formulas>
    <formulas>
        <name>NanoHomeLoanLendingProduct</name>
        <dataType>String</dataType>
        <expression>{!LendingProduct.Name}</expression>
    </formulas>
    <formulas>
        <name>UpdateDecisionCode</name>
        <dataType>String</dataType>
        <expression>Case({!$Record.Decision__c}, 
&apos;Decline - Hard&apos; ,&apos;DH&apos;,
&apos;Decline - Soft&apos; ,&apos;DS&apos;,
&apos;Refer - Capacity&apos; ,&apos;RC&apos;,
&apos;Refer - Bureau&apos; ,&apos;RB&apos;,
&apos;Refer - Collateral&apos; ,&apos;RV&apos;,
&apos;Refer – Applicant&apos; ,&apos;RA&apos;,
&apos;Acceptance Condition&apos; ,&apos;AC&apos;,
&apos;Auto-Approved&apos; ,&apos;AA&apos;,
&apos;Approved Manually&apos; ,&apos;AM&apos;,
&apos;Fallback Approve&apos; ,&apos;FA&apos;,
&apos;Vendor Response&apos; ,&apos;VR&apos;,
TEXT({!$Record.DecisionCode__c}))</expression>
    </formulas>
    <formulas>
        <name>UpdatePaymentStartDate</name>
        <dataType>Date</dataType>
        <expression>Case (TEXT({!$Record.PaymentFrequency__c}),
&quot;Weekly&quot;, {!$Record.SettlementDate__c + 7},
&quot;Fortnightly&quot;, {!$Record.SettlementDate__c + 14},
ADDMONTHS ({!$Record.SettlementDate__c  ,  1}))</expression>
    </formulas>
    <interviewLabel>Application Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLendingProductId</name>
        <label>Get Lending Product Id</label>
        <locationX>276</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ApplicationCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nano Home Loan</stringValue>
            </value>
        </filters>
        <object>loan__Loan_Product__c</object>
        <outputReference>ReturnedLendingProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Value before the record was saved</description>
        <name>GetPriorValue</name>
        <label>GetPriorValue</label>
        <locationX>718</locationX>
        <locationY>1105</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Decision_code_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Queue</name>
        <label>Queue</label>
        <locationX>2330</locationX>
        <locationY>949</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>438</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetLendingProductId</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ApplicationQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>COOQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>CreditUnderwriterQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>CROCEOQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>LendingProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>loan__Loan_Product__c</objectType>
    </variables>
    <variables>
        <name>LoansOfficerQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedLendingProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>loan__Loan_Product__c</objectType>
    </variables>
    <variables>
        <name>SeniorCreditUnderwriterQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
