unpackaged/main/default/flows/Automate_Loan_Account_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Convert the given application to a Loan Account</description>
        <name>Convert_Application</name>
        <label>Trigger Loan Account Creation</label>
        <locationX>838</locationX>
        <locationY>106</locationY>
        <actionName>ConvertAppToContractCtlr</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Application</targetReference>
        </connector>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Settlement_Status</name>
        <label>Check Settlement Status</label>
        <locationX>551</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Settlement_Booked</name>
            <conditionLogic>1 AND (2 OR 4) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SettlementCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CL_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DecisionCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Application</targetReference>
            </connector>
            <label>Settlement Booked</label>
        </rules>
    </decisions>
    <description>Trigger Loan Account Creation</description>
    <interviewLabel>Automate Loan Account Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automate Loan Account Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>981</locationX>
        <locationY>320</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <start>
        <locationX>195</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Check_Settlement_Status</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
