unpackaged/main/default/flows/AutomatedPaymentSetUprecordCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>NanoBankAccountName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Nano Lending Pty Ltd</stringValue>
        </value>
    </constants>
    <constants>
        <name>PaymentMode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Transfer</stringValue>
        </value>
    </constants>
    <decisions>
        <name>StatusesWereSet</name>
        <label>Statuses Were Set</label>
        <locationX>651</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoanDisbursed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.loan__Disbursal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fully Disbursed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.loan__Loan_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active - Good Standing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_if_aps_is_Already_created.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountRecord</targetReference>
            </connector>
            <label>Loan Disbursed</label>
        </rules>
    </decisions>
    <interviewLabel>Automated Payment Set Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automated Payment Set Up Record Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAutomatedPaymentSetUpRecord</name>
        <label>Create Automated Payment Set Up Record</label>
        <locationX>519</locationX>
        <locationY>780</locationY>
        <inputAssignments>
            <field>loan__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Amount_Type__c</field>
            <value>
                <stringValue>CURRENT PAYMENT AMOUNT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Bank_Account__c</field>
            <value>
                <elementReference>BankAccountRecID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__CL_Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Debit_Date__c</field>
            <value>
                <elementReference>$Record.loan__Next_Installment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Frequency__c</field>
            <value>
                <stringValue>Billing Frequency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Payment_Mode__c</field>
            <value>
                <elementReference>GetPaymentMode.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Recurring_ACH_End_Date__c</field>
            <value>
                <elementReference>$Record.loan__Maturity_Date_Current__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Recurring_ACH_Start_Date__c</field>
            <value>
                <elementReference>$Record.loan__Next_Installment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Setup_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Type__c</field>
            <value>
                <stringValue>RECURRING</stringValue>
            </value>
        </inputAssignments>
        <object>loan__Automated_Payment_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateBankAccount</name>
        <label>Create Bank Account</label>
        <locationX>519</locationX>
        <locationY>661</locationY>
        <assignRecordIdToReference>BankAccountRecID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateAutomatedPaymentSetUpRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Holder_Name__c</field>
            <value>
                <elementReference>GetAccountRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Account_Type__c</field>
            <value>
                <stringValue>Saving</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Account_Usage__c</field>
            <value>
                <stringValue>Borrower/Investor Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Account__c</field>
            <value>
                <elementReference>GetAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Bank_Account_Number__c</field>
            <value>
                <elementReference>$Record.AccountNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>loan__Bank_Name__c</field>
            <value>
                <elementReference>NanoBankAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>loan__Bank_Account__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_aps_is_Already_created</name>
        <label>Check if aps is Already created</label>
        <locationX>839</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StatusesWereSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>loan__CL_Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>loan__Automated_Payment_Setup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRecord</name>
        <label>Get Account Record</label>
        <locationX>519</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPaymentMode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.loan__Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPaymentMode</name>
        <label>Get Payment Mode</label>
        <locationX>519</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateBankAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentMode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>loan__Payment_Mode__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>532</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Check_if_aps_is_Already_created</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <object>loan__Loan_Account__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BankAccountRecID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
