unpackaged/main/default/flows/UpdateSchedulePrincipalRepayments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>TotalRepaymentsPaidincurrentmonth</name>
        <label>Total Repayments Paid in current month</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CurrentPrincipalpaid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalRepaymentAmount.loan__Principal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentInterestpaid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalRepaymentAmount.loan__Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScheduledRepaymentsReceived</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalRepaymentAmount.loan__Transaction_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TotalRepaymentAmount</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Schedule Principal Payments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Schedule Repayments</label>
    <loops>
        <name>TotalRepaymentAmount</name>
        <label>Total Repayment Amount</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>GetLoanPaymentTransactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalRepaymentsPaidincurrentmonth</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCLContractforScheduleRepayments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLoanPaymentTransactions</name>
        <label>Get Loan Payment Transactions</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TotalRepaymentAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrentMonthPayment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>loan__Loan_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLoanAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>loan__Loan_Payment_Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCLContractforScheduleRepayments</name>
        <label>Update CL Contract for Schedule Repayments</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLoanAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ScheduledInterestRepayments__c</field>
            <value>
                <elementReference>CurrentInterestpaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledPrincipalRepayments__c</field>
            <value>
                <elementReference>CurrentPrincipalpaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ScheduledRepaymentsReceived__c</field>
            <value>
                <elementReference>ScheduledRepaymentsReceived</elementReference>
            </value>
        </inputAssignments>
        <object>loan__Loan_Account__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLoanPaymentTransactions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentInterestpaid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentPrincipalpaid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>GetLoanAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScheduledRepaymentsReceived</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
