unpackaged/main/default/flows/UpdateRedrawAmount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>TotalAvailableRedrawAmount</name>
        <label>Total Available Redraw Amount</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CurrentRedrawAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DepositRecords.clcommon__Current_Deposit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DepositRecords</targetReference>
        </connector>
    </assignments>
    <description>Update Redraw Amount on Loan Account</description>
    <interviewLabel>Update Redraw Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Redraw Amount</label>
    <loops>
        <name>DepositRecords</name>
        <label>Deposit Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>AvailableRedrawAmount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalAvailableRedrawAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAvailableRedrawAmount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDepositRecords</name>
        <label>Get Deposit Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DepositRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>loan__Loan_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentLoanAccount</elementReference>
            </value>
        </filters>
        <object>clcommon__Deposit__c</object>
        <outputReference>AvailableRedrawAmount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>clcommon__Current_Deposit_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAvailableRedrawAmount</name>
        <label>Update Available Redraw Amount</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentLoanAccount</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AvailableRedrawAmount__c</field>
            <value>
                <elementReference>CurrentRedrawAmount</elementReference>
            </value>
        </inputAssignments>
        <object>loan__Loan_Account__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDepositRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AvailableRedrawAmount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>clcommon__Deposit__c</objectType>
    </variables>
    <variables>
        <name>CurrentLoanAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentRedrawAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalRedrawAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
